@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --cor_background_1: #252B2E;
    --cor_background_2: #3A4247;
    --cor_fonte: #B8C2C8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--cor_fonte);
    background-color: var(--cor_background_1);
    font-family: "Cabin", sans-serif;
}

header {
    border-radius: 10px;
    margin: 2rem;
    padding: 50px;
    background-color: var(--cor_background_2);
}

.fotodeperfil {
    float: right;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: -2rem;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

main {
    padding: 4rem;
}

footer {
    padding: 5rem;
    background-color: var(--cor_background_2);
}

main li {
    margin: 2rem;
}

main h3 {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

main h2 {
    margin-top: 2rem;
}

main h4 {
    margin-top: 0rem;
}

