@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --cor_background_1: #252B2E;
    --cor_background_2: #3A4247;
    --cor_fonte: #B8C2C8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--cor_fonte);
    background-color: var(--cor_background_1);
    font-family: "Cabin", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
header {
    border-radius: 10px;
    margin: 2rem;
    padding: 50px;
    background-color: var(--cor_background_2);
}

main {
    padding: 4rem;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* END */

footer {
    padding: 3.5rem;
    background-color: var(--cor_background_2);
}