@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --cor_background_1: #252B2E;
    --cor_background_2: #3A4247;
    --cor_fonte: #B8C2C8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--cor_fonte);
    background-color: var(--cor_background_1);
    font-family: "Cabin", sans-serif;
}

header {
    display: flex;
    flex-direction:column; /* Inverte a ordem: imagem na direita, texto na esquerda */
    justify-content: space-between; /* Espalha os elementos */
    padding: 20px;
    background-color: var(--cor_background_2);
}

/* Para evitar que a imagem fique gigante ou distorcida */
.fotodeperfil {
    width: 150px;
    height: auto;
    border-radius: 50%; /* Deixa a foto redonda, estilo GitHub */
}